@for (section of questions().sections; track section.section) {
  <section class="card rounded-3 px-2 py-2 my-4">
    <div class="my-3 mx-3">
      <h5 class="fw-bold">{{ section.section }}</h5>

      @for (subsection of section.subsections; track subsection.subsection) {
        <h6 class="mt-4">{{ subsection.subsection }}</h6>

        <div class="row row-cols-1 row-cols-md-5 g-4">
          @for (grade of subsection.grades; track grade.grade) {
            <article class="col">
              <div class="card rounded-3 h-100">
                <p class="ps-2 pt-2 mb-1 fw-semibold">{{ gradeLabel(grade.grade) }}</p>
                <ul class="list-group list-group-flush mb-1 pb-1">
                  @for (question of grade.questions; track question.id) {
                    <li class="list-group-item">
                      <button
                        type="button"
                        class="btn btn-link p-0 text-start text-decoration-none link-active"
                        (click)="selectQuestion(question.id)"
                      >
                        {{ question.question }}
                      </button>
                    </li>
                  }
                </ul>
              </div>
            </article>
          }
        </div>
      }
    </div>
  </section>
}
