services:
  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
#    image: ${DOCKER_REGISTRY}/${DOCKER_USERNAME}/my_site_backend:latest
    image: my_site_backend:latest
    container_name: my_site_backend
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network

  valkey:
    image: valkey/valkey:9.0.1
    container_name: my_site_valkey
    volumes:
      - valkey_data:/data
    networks:
      - app-network

  postgres:
    image: postgres:16-alpine
    container_name: my_site_postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 60s
      retries: 12

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: my_site_minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 60s
      retries: 12

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
#    image: ${DOCKER_REGISTRY}/${DOCKER_USERNAME}/my_site_nginx:latest
    image: my_site_nginx:latest
    container_name: my_site_nginx
    environment:
      - APP_DOMAIN=${APP_DOMAIN}
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    networks:
      - app-network

  databasus:
    container_name: my_site_databasus
    image: databasus/databasus:latest
    volumes:
      - databasus_data:/databasus-data
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  minio_data:
  databasus_data:
  valkey_data:
