<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Мой сайт</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ get_static_file_url('styles.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    {% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div id="navbar">{% include 'base/blocks/navbar.html' %}</div>
    <div id="content" class="mx-4 my-4">{% block content %}{% endblock %}</div>
    <div id="footer" class="bg-body-tertiary mt-auto">
      {% include 'base/blocks/footer.html' %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
