<nav class="nav navbar-expand-lg bg-body-tertiary px-4 pt-3 pb-2">
    <a class="navbar-brand fs-4 text-success fw-bold" href="/static">МКИ</a>
    <div class="container-fluid">
        <ul class="navbar-nav d-flex justify-content-center">
            <li class="nav-item mx-3">
                <a class="nav-link link-colored" href="/about"
                ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="me-1"
                >
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle></svg
                ><span>Обо мне</span></a
                >
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link link-colored" href="/blog"
                ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="me-1"
                >
                    <path d="M12 7v14"></path>
                    <path
                            d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"
                    ></path></svg
                ><span>Блог</span></a
                >
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link link-colored" href="/static"
                ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="me-1"
                >
                    <rect width="7" height="7" x="3" y="3" rx="1"></rect>
                    <rect width="7" height="7" x="14" y="3" rx="1"></rect>
                    <rect width="7" height="7" x="14" y="14" rx="1"></rect>
                    <rect width="7" height="7" x="3" y="14" rx="1"></rect></svg
                ><span>Матрица компетенций</span></a
                >
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link link-colored" href="/watchlist"
                ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="me-1"
                >
                    <path d="M3 12h.01"></path>
                    <path d="M3 18h.01"></path>
                    <path d="M3 6h.01"></path>
                    <path d="M8 12h13"></path>
                    <path d="M8 18h13"></path>
                    <path d="M8 6h13"></path></svg
                ><span>Список наблюдения</span></a
                >
            </li>
        </ul>
        <div class=""></div>
    </div>
</nav>
>
