<div class="rounded rounded-3 bg-body-tertiary px-2 py-2 my-4">
  <div class="my-3 mx-3">
    <h5 class="fw-bold">Основы</h5>
    <h6 class="mt-4">Функции</h6>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card rounded rounded-3 h-100">
          <div class="card-header">Junior</div>
          <div class="card-body text-secondary">
            <ul class="list-group list-group-flush mb-0">
              <li class="list-group-item">
                <a class="card-text link-active nav-link" href="#"
                  >Что такое функция в Python?</a
                >
              </li>
              <li class="list-group-item">
                <a class="card-text link-active nav-link" href="#"
                  >Как определить функцию?</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded rounded-3 h-100">
          <div class="card-header">Junior+</div>
          <div class="card-body text-secondary">
            <ul class="list-group list-group-flush mb-0">
              <li class="list-group-item">
                <a href="#" class="card-text link-active nav-link">
                  Если в функции нет return, она является валидной? Что
                  возвращает функция в таком случае?
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded rounded-3 h-100">
          <div class="card-header">Middle</div>
          <div class="card-body text-secondary my-auto"></div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded rounded-3 h-100">
          <div class="card-header">Middle+</div>
          <div class="card-body text-secondary my-auto"></div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded rounded-3 h-100">
          <div class="card-header">Senior</div>
          <div class="card-body text-secondary"></div>
        </div>
      </div>
    </div>
  </div>
</div>
