{% for section_dict in sections %}
<div class="rounded rounded-3 bg-body-tertiary px-2 py-2 my-4">
  <div class="my-3 mx-3">
    <h5 class="fw-bold">{{ section_dict.section }}</h5>
    {% for subsection_dict in section_dict.subsections %}
    <h6 class="mt-4">{{ subsection_dict.subsection }}</h6>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      {% for grade_dict in subsection_dict.grades %}
      <div class="col">
        <div class="card rounded rounded-3 h-100">
          <div class="card-header">{{ grade_dict.grade }}</div>
          <div class="card-body text-secondary my-auto">
            <ul class="list-group list-group-flush mb-0">
              {% for item in grade_dict['items'] %}
              <li class="list-group-item">
                <a
                  id="matrix-item-{{ item.id }}"
                  class="card-text link-active nav-link"
                  hx-get="{{ url_for('competency-matrix-item-detail-handler', pk=item.id) }}"
                  hx-target="#competency_matrix_item_detail_modal"
                >
                  {{ item.question }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% else %}

{% endfor %}

