* {
  --main-bg-color: rgb(26, 31, 44);
  --main-bg-color-rgb: 26, 31, 44;
  --main-component-color: rgb(74, 222, 128);
  --main-component-color-rgb: 74, 222, 128;
  --main-text-color: rgb(243, 244, 246);
  --main-text-color-rgb: 243, 244, 246;
  --main-link-color: rgb(74, 222, 128);
  --main-link-color-rgb: 74, 222, 128;

  --secondary-bg-color: rgb(45, 55, 72);
  --secondary-bg-color-rgb: 45, 55, 72;
  --secondary-component-color: rgb(209, 213, 219);
  --secondary-component-color-rgb: 209, 213, 219;

  --hovered-main-component-color: rgb(34, 197, 94);
  --hovered-main-component-color-rgb: 34, 197, 94;

  --bs-body-bg: var(--main-bg-color);
  --bs-body-bg-rgb: var(--main-bg-color-rgb);
  --bs-secondary-bg: var(--secondary-bg-color);
  --bs-secondary-bg-rgb: var(--secondary-bg-color-rgb);
  --bs-primary: var(--main-component-color);
  --bs-primary-rgb: var(--main-component-color-rgb);
  --bs-primary-bg-subtle: var(--hovered-main-component-color);
  --bs-primary-bg-subtle-rgb: var(--hovered-main-component-color-rgb);
  --bs-primary-border-subtle: var(--main-text-color);
  --bs-primary-text-emphasis: var(--main-text-color);
}

